.newsContent{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    background-color: white;
}

.newsContent h6{
    color: gray;
}

.newsContent .newsBanner img{
    max-width: 800px;
    width: 100%;
    object-fit: cover;
    margin: 5px auto;
}

.newsContent .LeftSide .newsCard{
    height: 100px;
}

.newsContent .LeftSide .newsCard .title{
    font-size: 20px;
}

.newsContent .LeftSide .newsCard .date{
    font-size: 12px;
}

.newsContent .LeftSide .newsCard .desc{
    max-width: 700px;
    overflow: hidden;
    padding: 5px;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.newsContent .LeftSide .newsCard img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    object-fit: cover;
}

.newsContent .LeftSide{
    margin:10px 30px auto 25px;
}

.newsContent .LeftSide .navigation .next, .prev{
    width: 150px;
    height: 60px;
    background-color: whitesmoke;
    cursor: pointer;
}

.newsContent .LeftSide .navigation .prev{
    text-align: end;
}

.newsContent .RightSide{
    margin:10px 20px auto auto;
}

.newsContent .LeftSide .navigation .navTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsContent .news-article{
    text-align: justify;
    text-indent: 1.5cm;
}

.RightSide h5{
    color: #14213d;
    font-size:26px;
    width: 170px;
    border-bottom: 3px solid #FCA311;
}

.LeftSide h5{
    color: #14213d;
    font-size:28px;
    width: 180px;
    border-bottom: 3px solid #FCA311;
}

.head .carousel-items img{
    height: 450px;
    object-fit: cover;
    
}

.head .carousel-items .title{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
}

.head{
    background-color: #fff;
}

.owl-theme .owl-dots {
    margin-top: -28px !important;
}


@media only screen and (max-width:1200px) {
    .newsContent .LeftSide .newsCard .desc{
        max-width: 500px;
    }
}

@media only screen and (max-width:993px) {
    .newsContent .LeftSide .newsCard .desc{
        max-width: 200px;
    }
}

@media only screen and (max-width:768px) {
    .newsContent{
        grid-template-columns: 1fr;
    }

    .newsContent .news-article{
        text-indent: 1cm;
    }
}

@media only screen and (max-width:500px) {
    .newsContent .LeftSide .navigation .next, .prev{
        width: 130px;
    }

    .newsContent .LeftSide .newsCard img{
        width: 60px;
        height: 60px;
    }

    .newsContent .LeftSide .newsCard .title{
        font-size: 18px;
    }
    
    .newsContent .LeftSide .newsCard .date{
        font-size: 12px;
    }
    
    .newsContent .LeftSide .newsCard .desc{
        font-size: 14px;
    }

    .head .carousel-items img{
        height: 300px;
        object-fit: cover;
        
    }
    
    .head .carousel-items .title{
      height: 80px;
    }
}