.parent-element{
    background-color: #FCA311;
    height: 30px;
    width: 100%;
}

.TypingAnimation{
    margin-left: 10px;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 20px;
    margin-left: 5px;
    background-color: black;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }